# Script de inicialización
resetear_todo.sh

# Carpetas de volumenes Docker
web/documents
mariadb/data

# Archivos de variables de entorno
*.env
!*example.env

# Archivo fuente Dolibarr
dolibarr*.zip