# Script de inicialización
resetear_todo.sh

# Carpetas de bind mounts Docker
web/documents
mariadb/data

# Archivos privados de variables de entorno
*.env
!*example.env

# Archivo fuente Dolibarr descargado
dolibarr*.zip